{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mt-4">
		<h1>Mes restaurants</h1>

        <a href="{{ path('restaurant.add') }}" class="btn btn-primary">Créer un restaurant</a>

		<table class="table"  style="text-align: center"   >
			<thead>
				<tr>
					<th scope="col">Nom</th>
					<th scope="col">Ville</th>
					<th scope="col">Categorie</th>
					<th scope="col">Photo</th>
					<th scope="col">Edition</th>
					<th scope="col">Suppression</th>
				</tr>
			</thead>
			<tbody>
		
				{% for restaurant in restaurants%}

					<tr class="table-primary">
						<th scope="row">{{restaurant.name}}</th>
						<td>{{restaurant.city}}</td>
						<td>{{restaurant.categorie.name}}</td>
						<td><img style="max-width: 150px" src="{{ vich_uploader_asset(restaurant, 'imageFile')}}"></td>
						<td><a href="{{path('restaurant.edit', {id: restaurant.id})}}" class="btn btn-info">Modifier<a/></td>
						<td><a href="{{path('restaurant.delete', {id: restaurant.id})}}" class="btn btn-danger">Supprimer<a/></td>
				
					</tr>
				{% endfor %}

			</tbody>
		</table>


	</div>
{% endblock %}
